@tailwind base;
@tailwind components;
@tailwind utilities;
@import "primeicons/primeicons.css";
@import '@fortawesome/fontawesome-free/css/all.min.css';
@import 'primereact/resources/primereact.min.css';
@import "primereact/resources/themes/lara-light-cyan/theme.css";

:root{
  --light-bg-color: #5D9CEC;
  --light-gray-color: #D3D3D3;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-sans; 
  }


}
@layer components{
  .separator {
    @apply border-t border-[var(--light-gray-color)];
  }


}
.p-inputtext{
  @apply outline-none focus:ring-0 px-[10px] border rounded-[5px] h-[32px] border-[#D3D3D3] hover:border-[var(--light-bg-color)] focus:border-[var(--light-bg-color)]  text-[#000000]
}
.p-menubar{
  @apply !p-0
}
.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-content .p-menuitem-link{
  @apply !py-[.5rem] !px-[.7rem]
}
.p-overlaypanel .p-overlaypanel-content{
  @apply p-[.5rem]
}
.ccc:hover{
  overflow: hidden;
  img{
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
  }
}

/* css for dialog  */
.p-dialog {
     box-shadow: none;
    .p-dialog-header{
      @apply px-[20px] py-[20px] rounded-t-[15px]
    }
    .p-dialog-footer{
      @apply px-[20px] py-[20px] rounded-b-[15px]
    }
}
/* css for prime button */
.p-button {
  @apply bg-[var(--light-bg-color)] text-white px-[16px] py-[6px] rounded-[5px] flex items-center justify-center ring-0 outline-none;
}

.p-dropdown{
  @apply border rounded-[5px] h-[32px] border-[var(--light-gray-color)] hover:border-[var(--light-bg-color)] focus:border-[var(--light-bg-color)] ring-0;
  .p-inputtext{
    @apply px-[10px] py-[5px] border-none
  }
}

  /* css for prime react datatable */
/* 
  .p-datatable .p-datatable-thead > tr > th{
  @apply border border-[var(--light-gray-color)]
}
.p-datatable .p-datatable-tbody > tr > td{
  @apply border border-[var(--light-gray-color)]
} */
/* .p-datatable.p-datatable-gridlines .p-datatable-thead > tr > th{
  @apply border border-[red] rounded-[10px]
} */

.p-datatable.p-datatable-gridlines {
  @apply border border-[red] rounded-[10px]
}
